.death-wrapper {
  background-color: transparentize(#000, 0.3);
  height: 100vh;
  left: -100vw;
  position: absolute;
  text-align: center;
  width: 100vw;
}

.death {
  box-sizing: border-box;
  color: red;
  font: 1.8em 'Nosifer', cursive;
  left: 25%;
  position: absolute;
  top: 25%;
  transform: translate(-25% -25%);

  button {
    border: none;
    background-color: transparent;
    padding: 0.4em;
    color: green;
    cursor: pointer;
    font: 1.5em 'Slackey', cursive;
  }
}