.score {
  color: #ff3d00;
  font: 4.2em 'bearpawregular', cursive;
  left: 50%;
  margin: 0;
  position: absolute;
  text-shadow: 0 0 6px #000;
  top: 0.2em;
  transform: translateX(-50%);
  z-index: -10;
}